/* nejsme vcerejsi, pouzivame moderni box model */
*,
:after,
:before {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
}


.hlavicka {
	background-color: #3498db;
	color: white;
	display: flex;
	justify-content: space-between;
}

a {
	display: block;
	padding: 18px 15px;
	color: white;
	text-decoration: none;
}

a:hover {
	background-color: white;
	color: #3498db;
}

.logo {
	font-size: 30px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px 20px;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	align-items: start;
	align-items: stretch;
	height: 100%;
}

li {
	list-style-type: none;
	display: flex;
}

ul {
	margin: 0;
}

/* ---------------------------------------------------- */
